@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes bounce-self {
  0% {
    transform: scale(1);
  }
  20% {
    /* vertical squeeze */
    transform: scaleY(0.8);
  }
  40% {
    /* horizontal squeeze */
    transform: scaleX(0.8);
  }
  60% {
    /* both axes expand (“pop”) */
    transform: scale(1.2);
  }
  100% {
    /* back to normal */
    transform: scale(1);
  }
}
@keyframes truck-back-and-forth {
    0% {
      transform: translateX(-300%) scaleX(1) scaleY(1) skewX(0deg);
    }
    15% {
      transform: translateX(-150%) scaleX(1.05) scaleY(0.95) skewX(-5deg);
    }
    25% {
      transform: translateX(0%) scaleX(1.1) scaleY(0.9) skewX(-10deg);
    }
    50% {
      transform: translateX(300%) scaleX(1) scaleY(1) skewX(0deg);
    }
    50.01% {
      transform: translateX(300%) scaleX(-1) scaleY(1) skewX(0deg);
    }
    65% {
      transform: translateX(150%) scaleX(-1.05) scaleY(0.95) skewX(5deg);
    }
    75% {
      transform: translateX(0%) scaleX(-1.1) scaleY(0.9) skewX(-10deg);
    }
    100% {
      transform: translateX(-300%) scaleX(-1) scaleY(1) skewX(0deg);
    }
  }
   @keyframes road-dash {
    0% { background-position: 0 0; }
    100% { background-position: 40px 0; }
  }
